<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="/js/libs/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"></script>
  <script src="/js/home.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=1737585942918898&autoLogAppEvents=1"></script>
  <nav id="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"><img src="/image/logo.png" alt=""></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mới</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ảnh Hài</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Clip hài</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#">Action 1</a>
            <a class="dropdown-item" href="#">Action 2</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ảnh Động</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link Hay</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Truyện Cười</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ảnh Chế</a>
        </li>
      </ul>
      <div class="register">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dangky">
          Đăng Ký
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dangnhap">
          Đăng Nhập
        </button>
      </div>
    </div>
  </nav>
  <!-- Modal -->
  <div class="modal fade" id="dangky" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="post" action="/dangky">
          <div class="modal-header">
            <h5 class="modal-title" id="formModalLabel">Đăng Ký</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Tên đăng nhập</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label>Địa chỉ email</label>
              <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label>Mật khẩu</label>
              <input type="password" class="form-control" name="password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            <button type="button" class="btn btn-primary">Đăng Ký</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="dangnhap" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="post" action="/dangnhap">
          <div class="modal-header">
            <h5 class="modal-title" id="formModalLabel">Đăng Nhập</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Tên đăng nhập</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label>Mật khẩu</label>
              <input type="password" class="form-control" name="password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            <button type="button" class="btn btn-primary">Đăng Nhập</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <section class="about">
    <div class="container social">
      <p>Xiaolin.vn Cộng Đồng <span style="color:red">XẠO LÌN</span> Lớn Nhất Đồng Bằng Nam Trung Bộ </p>
      <i class="fab fa-facebook-square" id="fblogo"></i>
      <i class="far fa-thumbs-up" id="likelogo"></i>
    </div>
  </section>
  <hr>


  <section class="content1">
    <div class="container d-flex">
      <div class="left">
        <div class="title">
          <p>Ảnh Mới</p>
        </div>
        <div class="trick">
          <p><span style="font-weight:bold"> Mẹo:</span> Thấy bài hay thì like động viên tác giả nhá </p>
        </div>
        <div class="row posting">
          <div class="col-md-8 imgspace">
            <img src="/image/troll1.jpg" alt="">
          </div>
          <div class="col-md-4 titlespace">
            <p class="title2"> Đề văn năm nay trong em </p>
            <p class="author"> Đăng bơi <span style="color:blue">Hưng Phò</span> 2 phút trước </p>
          </div>
          <div class="col-md-8 imgspace">
            <img src="/image/troll1.jpg" alt="">
          </div>
          <div class="col-md-4 titlespace">
            <p class="title2"> Đề văn năm nay trong em </p>
            <p class="author"> Đăng bơi <span style="color:blue">Hưng Phò</span> 2 phút trước </p>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="contact">
          <p>Kết bạn để giao lưu giao hợp với team bọn mình, các bạn cần liên hệ tại facebook <span
              style="color:blue"><a href=""> Bé Nam </span></a> và <span style="color:blue"><a href=""> Hoàn
                dái</a></span></p>
        </div>
        <div class="clicktoupload">
          <a href="#" class="btn btn-primary">Click để bắt đầu chia sẻ những bức ảnh vui</a>
        </div>
        <div class="topmember d-flex">
          <div class="memberleft">
            <p><i class="far fa-smile"></i><span style="font-weight: bold"> Top danh hài</p></span>
            <div class="member">
              <div class="member1">Hưng phò</div>
              <div class="member2">Hoàn phò</div>
              <div class="member3">Nam phạch</div>
              <div class="member2">Hoàn phò</div>
              <div class="member3">Nam phạch</div>
            </div>
          </div>
          <div class="memberright">
            <p>Tuần/Tháng/Tất cả</p>
            <div class="member">
              <div class="member1">Hưng phò</div>
              <div class="member2">Hoàn phò</div>
              <div class="member3">Nam phạch</div>
              <div class="member2">Hoàn phò</div>
              <div class="member3">Nam phạch</div>
            </div>
          </div>

        </div>
        <div class="facebook">
          <p>Ủng hộ Hoàn dâm cưới vợ</p>
          <div class="fb-page" data-href="https://www.facebook.com/facebook" data-width="380" data-hide-cover="false"
            data-show-facepile="false">
          </div>
        </div>
      </div>

    </div>
  </section>


</body>

</html>