body{
font-family: "Titillium Web",sans-serif;
line-height: 1.4375;
font-size: 15px;
color: #101A28;
padding-top: 70px;
}

/* Header */
.container{
    padding: 0;
}
.dropdown-menu{
    font-size: 13px;  
}

#logo{
    width: 105px;
}
.btn-primary{
    font-size: 15px;
}
.navbar .navbar-nav{
    margin: 0 auto;
    font-weight: bold;
}

.navbar-brand img{
    width: 105px;
}

.about .social{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.about p{
    font-weight: bold;
    color: #101A28;
}
#fblogo{
    width: 50px;
    height: 20px;
}

#likelogo{
    height: 20px;
    width: 20px;
}
hr{
    margin-top:0;
}

.btn-primary{
    border: 0;
    background-color: gray;
}

#navigation{

         -webkit-transition: background-color 800ms linear;
         -moz-transition: background-color 800ms linear;
          -ms-transition: background-color 800ms linear;
           -o-transition: background-color 800ms linear;
              transition: background-color 800ms linear;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color:red;
}
.nav-item:hover{
    background-color: white;
    border-radius: 5px;
}

.navbar-collapse ul li{
    text-align: center;
}


/* content */
/* .newimage{
    display: flex;
}
.rightcol{
    width: 780px;
}

#meo{
    background-color: #fff589;
    height: 30px;
    border-radius: 4px;
    box-shadow: 1px 3px #ebe7bb;
    padding: 4px 0 0 5px;
}
.leftcol{
    width: 300px;
    height: 78px;
    background-color: #fff589;
    border-radius: 4px;
    box-shadow: 1px 3px #ebe7bb;
    margin-left: 5px;
}
.lefcol p{
    margin:15px 0 0 20px;
}

#lienhe{
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

#postimage{
    margin: 0 !important;
}

.trollphoto{
    padding-left:0;
    padding-bottom: 50px;
}

.trollphoto img{
    max-width: 100%;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
#postimage .col-md-4{
    padding: 0;
}
.author{
    color: gray;
    font-size: 15px;
} */

.container{
    align-items: start;
}
.container div{
    
    
}
.right{
    flex:1.5;
}
.left{
    flex:5;
    margin-right: 20px;
}

.title p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

.trick{
    background-color: #fff589;
    border-radius: 4px;
    box-shadow: 1px 3px #ebe7bb;
    padding: 4px 0 0 5px;
}

.posting{
    margin-top: 15px;
}

.posting div img{
    max-width: 100%;
}

.author{
    color: gray;
    font-size: 15px;
} 

.title2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact{
    background-color: #fff589;
    border-radius: 4px;
    box-shadow: 1px 3px #ebe7bb;
    margin-left: 5px;
    padding: 10px 0 10px 10px;
}

.contact p {
    margin:0;
}

.clicktoupload{
    margin: 8px 0 0 5px;
}

.topmember{
    background-color: rgb(212, 212, 212);
    border-radius: 4px;
    margin: 8px 0 0 5px;
    align-items: center;
}

.memberleft{
    flex: 1;
}

.memberright{
    flex:1;
}

.memberleft p, .memberright p{
    margin: 5px 0 0 5px;
    font-size: 13px;
}
.memberleft p{
    font-size: 15px;
}
.member{
    margin-top: 20px;
    margin-left: 10px;
}

.facebook{
    background-color: rgb(212, 212, 212);
    border-radius: 4px;
    margin: 20px 0 0 5px;
}
.facebook p{
    padding: 5px 0 0 5px;
}
.imgspace,.titlespace{
    margin-top: 30px;
}